# No compiler binaries or media are redistributed from this repo — every
# image downloads its pinned source at build time.  Local tarball artifacts
# (e.g. unpacked media trees) must never be staged.
*.tar.xz
*.tar.gz
